* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    color: rgb(70, 70, 70);
    padding-left: 30px;
    text-align: left;
    text-transform: lowercase;
    font-size: 28px;
    margin: 0;
}

header h1 {

}